<footer class="text-white" style="background-color: #1D1D1D;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <a href="contact"><h3>Contact</h3></a>
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="./assets/img/imgmaquette/facebookwhite.png" width=30 height=30> </img>
      </a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="./assets/img/imgmaquette/twitterwhite.png" width=30 height=30> </img>
      </a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><img src="./assets/img/imgmaquette/instagramwhite.png" width=30 height=30> </img>
      </a>

    </section>
    <h3>@2022 | TheSuspectdg </br> Made by CPONS</h3>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>