<footer class="text-white" style="background-color: #1D1D1D;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <a href="contact"><h3>Contact</h3></a>
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>

    </section>
    <h3>@2022 | TheSuspectdg </br> Made by CPONS</h3>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
</footer>