<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="./assets/css/libs.bundle.css" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="./assets/css/theme.bundle.css" />

  </head>




<body>

<section class="py-8 py-md-11 mt-n10">
      <div class="container">
        <div class="row" id="portfolio" data-isotope="{&quot;layoutMode&quot;: &quot;fitRows&quot;}" style="position: relative; height: 1679.39px;">
          <div class="col-12 col-md-4 product" style="position: absolute; left: 0px; top: 0px;">

            <!-- Card -->
            <a class="card card-flush mb-7">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://picsum.photos/id/2/200/300" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Photo instagram</h6>

                <!-- Heading -->
                <h4 class="mb-0">poijezpiof jifeiugf iehfijbe uihfiuhe fhiuh uifiu uhiefhiue huifehui ihgezig gkjzbeguezgiouhezg ezjkgijezg ezhgihze gielhz g ehizg</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 resources" style="position: absolute; left: 346.664px; top: 0px;">

            <!-- Card -->
            <a class="card card-flush mb-7">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://picsum.photos/id/3/200/300" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Evenement, mariages</h6>

                <!-- Heading -->
                <h4 class="mb-0">poijezpiof jifeiugf iehfijbe uihfiuhe fhiuh uifiu uhiefhiue huifehui ihgezig gkjzbeguezgiouhezg ezjkgijezg ezhgihze gielhz g ehizg</h4>

              </div>

            </a>

          </div>
          <div class="col-12 col-md-4 ux" style="position: absolute; left: 693.328px; top: 0px;">

            <!-- Card -->
            <a class="card card-flush mb-7">

              <!-- Image -->
              <div class="card-zoom">
                <img class="card-img-top rounded shadow-light-lg" src="https://picsum.photos/id/6/200/300" alt="...">
              </div>

              <!-- Footer -->
              <div class="card-footer">

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Moto, voitures</h6>

                <!-- Heading -->
                <h4 class="mb-0">poijezpiof jifeiugf iehfijbe uihfiuhe fhiuh uifiu uhiefhiue huifehui ihgezig gkjzbeguezgiouhezg ezjkgijezg ezhgihze gielhz g ehizg</h4>

              </div>

            </a>

          </div>

      </div>
    </section>


</body>
</html>
