<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon" />
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="./assets/css/libs.bundle.css" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="./assets/css/theme.bundle.css" />
    
  </head>

<!-- FORM -->
    <section class="pt-8 pt-md-11 pb-8 pb-md-14">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Heading -->
            <h2 class="fw-bold">
              Contactez moi <br/><br/>
            </h2>

          </div>
        </div> <!-- / .row -->
        <div class="row justify-content-center">
          <div class="col-12 col-md-12 col-lg-10">

            <!-- Form -->
            <form>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group mb-5">

                    <!-- Label -->
                    <label class="form-label" for="contactName">
                      Nom
                    </label>

                    <!-- Input -->
                    <input class="form-control" id="contactName" type="text" placeholder="Nom">

                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group mb-5">

                    <!-- Label -->
                    <label class="form-label" for="contactEmail">
                      Email
                    </label>

                    <!-- Input -->
                    <input class="form-control" id="contactEmail" type="email" placeholder="nom@domaine.com">

                  </div>
                </div>
              </div> <!-- / .row -->
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-7 mb-md-9">

                    <!-- Label -->
                    <label class="form-label" for="contactMessage">
                      Message
                    </label>

                    <!-- Input -->
                    <textarea class="form-control" id="contactMessage" rows="5" placeholder=""></textarea>

                  </div>
                </div>
              </div> <!-- / .row -->
              <div class="row justify-content-center">
                <div class="col-auto">

                  <!-- Submit -->
                  <button type="submit" class="btn btn-primary lift">
                    Envoyer
                  </button>

                </div>
              </div> <!-- / .row -->
            </form>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>







</body>
</html>
