{% block body %}
<html lang="fr">

<head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" type="text/css" href="assets/styles/portfolio.scss" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5">
    <meta name="format-detection" content="telephone=no">
    <!-- Title -->
    <title>Stage BTS SIO - SLAM</title>
    <div class="header">
        <div class="inner_header">
            <div class="logo_container">
                <h1><a href="index.html">The<span>Suspectdg</span></a></h1>
            </div>

            <ul class="navigation">
                <a href="apropos"><li>À propos</li></a>
                <a href="portfolio"><li>Portfolio</li></a>
                <a href="contact"><li>Contact</li></a>
                <a href="connexion"><li>Connexion</li></a>
            </ul>

        </div>


    </div>
</head>

<body>
    <div class="portfoliopf"><h1>Portfolio</h1></div>

    <div class="grille">
        <div class="grid-item3">
        </div>
        <div class="grid-item4">
        </div>
        <div class="grid-item5">
        </div>
        <div class="grid-item6">
        </div>
        <div class="grid-item7">
        </div>
    </div>

    <div class="grille2">
        <div class="grid-item4-2">
        </div>
        <div class="grid-item7-2">
        </div>
        <div class="grid-item6-2">
        </div>
        <div class="grid-item5-2">
        </div>
    </div>
    <div class="grille3">
        <a class="prev" onclick="plusImage(-1)">❮</a>
        <a class="text">1 / 2 / 3 / ... / 9</a>
        <a class="next" onclick="plusImage(1)">❯</a>
    </div>
</body>

<footer>
    <div class="grille-footer">
        <div class="grid-item-footer-1">
            <a href="contact.html"><h3>Contact</h3></a>

        </div>

        <div class="grid-item-footer-2">
            <a href="#"><img src="./assets/facebookwhite.png" width=30 height=30> </img></a>
        </div>

        <div class="grid-item-footer-3">
            <a href="#"><img src="./assets/twitterwhite.png" width=30 height=30> </img></a>
        </div>

        <div class="grid-item-footer-4">

            <a href="#"><img src="./assets/instagramwhite.png" width=30 height=30> </img></a>


        </div>

        <div class="grid-item-footer-5">

            <h3>@2021 | TheSuspectdg </br> Made by CPONS</h3>

        </div>


    </div>


</footer>
<!-- JavaScript -->
<script src="js/index.js"></script>

</html>
{% endblock %}
